*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}
.container
{
    margin: auto;
    width: 80%
}
/* navbar */
nav 
{
    display: grid;
    grid-template-columns: 25% 50% 15%;
     margin-top: 30px;
    height: 80px;
} 
nav ul
{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
nav ul li
{
    width:100px;
    text-transform: capitalize;
    font-size: 18px;
    transition: color 1.5s;
}
nav ul li:hover
{
    transition: color;
    color: gray;
    cursor: pointer;
}
nav button
{
    background-color: limegreen;
    outline: none;
    border: none;
    font-size: 17px;
    text-transform: capitalize;
    color: aliceblue;
    height: 50px;
    transition: color 0.5s;
}
nav button:hover
{
    transition: color;
    color: black;
    cursor: pointer;
}
/* end navbar */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    nav ul , nav button{ display: none}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    nav ul { display: none}
    nav button {width: 150px; margin-left: 350px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
  nav ul { width: 400px}  
}
/* end media */
/* header */
header 
{
    background-image: url("../images/header/header.jpeg");
    background-size: cover;
    background-position: center;
    height: 550px;
    text-align: center
}
header h1
{
    color:#fff;
    font-size: 55px;
    font-weight: 100;
    padding-top: 50px;
    text-transform: capitalize
}
header p
{
    color: gainsboro;
    font-size: 19px;
    padding-top: 45px;
}
header button
{
    background-color: limegreen;
    margin-top: 65px;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    color: aliceblue;
    height: 50px;
    width: 200px
}
/* end header */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    header {height: 430px}
    header h1{font-size: 25px}
    header p{font-size: 15px}
    header button{margin-top: 25px}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
     header {height: 480px}
    header h1{font-size: 35px}
    header p{font-size: 16px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
   
    header h1{font-size: 40px}
    header p{font-size: 18px}
    header button{width:350px }
}

/* end media */
/* information */
.info_about
{
    background-color: #fff;
    margin-top: -160px;
    height: 300px;
    box-shadow: 2px 2px 5px gray;
}
.info_about .information
{
    display:flex;
    padding: 50px 40px 20px 40px;
}
.info_about .information .info
{
    border: 1px solid  limegreen;
    color: dimgray;
    font-size: 18px;
    padding: 19px 0 0 20px;
    height: 40px;
    width: 240px;
    margin-left: 30px
}
.info_about .information button.bt1
{
    background-color: limegreen;
    margin-left: 30px;
    outline: none;
    border: none;
    font-size: 19px;
    text-transform: capitalize;
    color: aliceblue;
    height: 60px;
    width: 240px
}
.info_about .information button.bt2
{
    background-color: #000;
    outline: none;
    border: none;
    font-size: 19px;
    text-transform: capitalize;
    color: grey;
    height: 60px;
    width: 180px;
    transition: color 0.5s;
}
.info_about .information button.bt2:hover
{
    transition: color;
    color: #fff;
    cursor: pointer;
}
 .info_about .information ul
{
    display: flex;
    list-style: none;
    margin: 20px 0 0 40px;
}
 .info_about .information ul li
{
    width:130px;
    text-transform: capitalize;
    font-size: 18px;
    color: grey;
}

/* end information  */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{    
    .info_about{height: 410px; margin-top:15 px }
    .info_about .information button.bt2 ,  .info_about .information ul  { display: none}
    .info_about .information {display: grid; grid-template-rows: 25% 25% 25% 25%}
    .info_about .information .info {margin-bottom: 22px}
    .info_about .information button.bt1{width: 263px}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    .info_about{height: 150px; margin-top: -70px }
  .info_about .information button.bt2 ,  .info_about .information ul  { display: none}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    .info_about{height: 150px; margin-top:-140px }
  .info_about .information button.bt2 ,  .info_about .information ul  { display: none}
}
/* end media */
/* Promoted ads  */
.PROMOTED_ADS
{
    background-color:gainsboro;
    margin-top: 120px;
    height: 1100px
}
.PROMOTED_ADS h2
{
   text-transform: uppercase;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    padding-top: 70px
}
.PROMOTED_ADS h2 span {border-bottom: 5px solid limegreen}
.PROMOTED_ADS .promoted
{
    display: flex;
    padding-top: 80px
}
.PROMOTED_ADS .promoted .PRO_ADS{ width: 25%; height: 320px; position: relative}
.PROMOTED_ADS .promoted .PRO_ADS .pro-ads
{
    background-color: #fff;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 100;
    width: 220px;
    padding: 20px 0 20px 0;
    position: absolute;
    top: 170px;
    left: 18px
}
 .PROMOTED_ADS .promoted .PRO_ADS .Ads
{
    display: flex;
    margin:60px 0 20px 100px
}
 .PROMOTED_ADS .promoted .PRO_ADS .Ads .fa
{
   color: limegreen;
    font-size: 20px;
    padding-bottom: 8px
}
.PROMOTED_ADS .promoted .PRO_ADS .Ads .ads1{margin-right: 18px}

.PROMOTED_ADS .promoted .PRO_ADS button
{
    background-color: limegreen;
    margin-left: 60px;
    font-size: 17px;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: aliceblue;
    height: 40px;
    width: 140px;
    transition: color 0.5s;
}
/* end  Promoted ads  */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    .PROMOTED_ADS{height: 3000px}
    .PROMOTED_ADS h2{font-size: 25px}
    .PROMOTED_ADS .promoted{display: block;}
    .PROMOTED_ADS .promoted img { width: 400px}
    .PROMOTED_ADS .promoted .PRO_ADS .pro-ads {width: 350px; top: 280px;}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    nav ul { display: none}
    nav button {width: 150px; margin-left: 350px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screen */
@media (min-width:1200px) 
{
    
}
/* end media */
/* POPULAR Store */
 .POPULAR_Store
{
    margin-top: 75px;
    height:900px;
}
 .POPULAR_Store h2
{
   text-transform: uppercase;
    font-size: 55px;
    font-weight: 100;
    margin:0 0 110px 150px;
    padding-top: 70px
}
 .POPULAR_Store h2 span {border-bottom: 5px solid limegreen}
.POPULAR_Store .pop{text-align: center}
.POPULAR_Store h3
{
    color: limegreen;
    font-size: 35px;
    font-weight: 100;
    padding: 30px 0 10px 0;
    text-transform: capitalize;
}
.POPULAR_Store p
{
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0 40px 0;
}
.POPULAR_Store button
{
    background-color: limegreen;
    font-size: 19px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    height: 50px;
    width: 160px;
    transition: color 0.5s;
}
.PROMOTED_ADS .promoted .PRO_ADS button:hover, .POPULAR_Store button:hover
{
   transition: color;
    color: #000;
    cursor: pointer
}
/*  end POPULAR Store */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    nav ul , nav button{ display: none}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    nav ul { display: none}
    nav button {width: 150px; margin-left: 350px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screen */
@media (min-width:1200px) 
{
    
}
/* end media */
/* Classified_About */
.Classified_About
{
    background-image: url("../images/about-classified/about.jpeg");
    background-size: cover;
    background-position: center;
    height: 350px;
    text-align: center;
    margin-top: 60px;
}
.Classified_About h3
{
    color:#fff;
    font-size: 55px;
    font-weight: 100;
    padding-top: 80px;
}
.Classified_About hr
{
   width: 590px;
    height: 4px;
    margin-left: 460px;
    background-color: limegreen;
    border: none
    
}
.Classified_About p
{
    color: aliceblue;
    font-size: 17px;
    padding-top: 35px;
}
/* end Classified_About */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    nav ul , nav button{ display: none}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    nav ul { display: none}
    nav button {width: 150px; margin-left: 350px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screen */
@media (min-width:1200px) 
{
    
}
/* end media */
/* Clients */
.Clients
{
    text-align: center;
    margin-top: 80px
}
 .Clients h2
{
   text-transform: uppercase;
    font-size: 55px;
    font-weight: 100;
    margin:0 0 110px 0;
}
 .Clients h2 span {border-bottom: 5px solid limegreen}
.POPULAR_Store .pop{text-align: center}
.Clients h3
{
    font-size: 40px;
    font-weight: 400;
    padding: 30px 0 10px 0;
    text-transform:uppercase;
}
.Clients h4
{
    color: limegreen;
    padding: 10px 0 20px 0;
}
/* end Clients */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{
    nav ul , nav button{ display: none}
}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
    nav ul { display: none}
    nav button {width: 150px; margin-left: 350px}
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screen */
@media (min-width:1200px) 
{
    
}
/* end media */
/*footer*/
footer
{
    background-color:#262424;
    height: 1000px;
    margin-top: 90px
}
footer .contact
{
    background-color: #000;
    display: flex;
    height: 520px;
    padding-top: 40px
}
footer .contact .form
{
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    width: 40%;
    margin: 0 50px 0 200px
}
footer .contact .form input
{
    padding: 10px;
    font-size: 20px;
    margin-bottom: 100px;
    height: 40px
}
footer .contact .form textarea
{
    padding: 10px;
    font-size: 20px;
}
footer .contact .map{ width: 60%}
footer .contact .map iframe
{
    width: 90%;
    height: 440px 
}
footer .connecting
{
    margin-top: 70px;
    color: #fff;
}
footer .connecting .container
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
footer .connecting .logo p{margin: 30px 0;}
footer .connecting .links h5 , footer .connecting .email h5 , footer .connecting .contact_us h5
{
    font-size: 32px;
    font-weight: 200;
    text-transform: capitalize;  
}
footer .links hr ,footer .email hr ,footer .contact_us hr
{
   width: 180px;
    height: 4px;
    background-color: limegreen;
    border: none 
}
footer .links .fa
{
    color: limegreen;
    font-size: 14px;
     padding-right: 8px
}
footer .links p
{
    margin: 25px 0;
   text-transform: capitalize;
}
footer .email hr{width: 230px}
footer .email p { margin: 25px 0}
footer .email input 
{
     padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    height: 20px;
    border-radius: 8px
}
footer .email button
{
   background-color: limegreen;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    color: aliceblue;
    height: 50px;
    width: 170px;
    border-radius: 8px
}
footer .contact_us p
{
    margin: 22px 0;
    font-size: 17px
}
footer .contact_us i
{
    padding-right: 12px;
    font-size: 25px
}
footer .copyright
{
    text-align: center;
    background-color: limegreen;
    height: 40px;
    margin-top: 60px;
    padding-top: 35px
}
/* end footer */
/* media */
/* mobile and tablet */
 @media (max-width:767px)
{

}
/* small screen */
@media (min-width:768px) and (max-width:991px)
{
   
}
/* medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screen */
@media (min-width:1200px) 
{
    
}
/* end media */
